{% extends 'Doctors/main.html' %}

{% block content %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
            <a class="btn btn-sm btn-info" href="{% url 'create_client' doctor_id %}" >Добавить пациента</a>
                <tr>
                    <th>Имя</th>
                    <th>Телефон</th>
                    <th>Доп. информация</th>
                    <th>Первый визит</th>
                    <th>Следующий визит</th>
                    <th></th>
                </tr>
                {% for client in clients %}
                    <tr>
                        <td>{{client.name}}</td>
                        <td>{{client.phone}}</td>
                        <td>{{client.additionalInfo}}</td>
                        <td>{{client.current_visit}}</td>
                        <td>{{client.next_visit}}</td>
                        <td><a class="btn btn-sm btn-outline-danger" href="{% url 'delete_client' client.id %}">Удалить</td>
                    
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}